@import url(experience-styles.css);

article{
    margin-top: 4em;
}

.click-here a{
    font-family: var(--main-font);
    color: var(--clr-raising-black);
    text-decoration: underline;
    transition: all 0.4s ease-in-out;
    font-weight: 400;
}

.click-here:hover{
    color: var(--clr-tangerine);
}